# Default ignored files
/shelf/
/workspace.xml
/*.iml
# Datasource local storage ignored files
/../../../../:\_WORKING\faiyt.dev\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
